$pg-width: 100vw
$gm-width: 992px
$gm-height: 640px
$stg-size: 480px
$side-col: 224px
$tile-size: 32px
$prim-color: rgb(16, 16, 16)
$head-font-color: #fff
$std-border: 1px solid #000

//
//		Classes to @extend
//

%head-foot-style
  position: relative
  width: 100%
  margin: 0
  padding: 3px 0
  color: $head-font-color
  text-align: center
  background-color: $prim-color

%full-canvas
  position: absolute
  top: 0
  left: 0
  margin: 0
  padding: 0

//
//		Styling
//

// reset sass
html,
body,
div,
p,
span,
button,
select,
ul,
ol,
h1,
h2,
h3,
h4
  margin: 0
  padding: 0

.pg
  position: relative
  display: flex
  flex-direction: column
  width: 100%
  min-width: $gm-width
  min-height: 100vh

  &-header
    @extend %head-foot-style

  &-content
    flex-grow: 1
    width: 100%
    padding: $tile-size 0
    text-align: center
    background: rgba(255, 255, 0, 0.2)

  &-footer
    @extend %head-foot-style

    & > *:first-child
      margin-right: $tile-size / 4

.game
  display: flex
  justify-content: space-around
  width: $gm-width
  height: $gm-height
  margin: auto
  border: $std-border
  background: rgba(0, 255, 0, 0.1)

.col-lft
  height: 100%
  background: rgba(50, 90, 240, 0.2)

.level
  width: $side-col
  height: $tile-size
  margin-bottom: $tile-size
  border: $std-border
  background: #fff

.char-info
  width: $side-col
  height: 512px
  border: $std-border
  background: #fff

.col-mid
  display: flex
  flex-direction: column
  align-items: center
  height: 100%
  background: rgba(50, 90, 240, 0.2)

.title
  width: $stg-size
  height: 2 * $tile-size
  border: $std-border
  background: #fff

.stage
  position: relative
  width: $stg-size
  height: $stg-size
  margin-bottom: $tile-size
  border: $std-border
  background: #fff

  .bg-layer
    @extend %full-canvas
    z-index: 10

  .acc-layer
    @extend %full-canvas
    z-index: 11

  .player-layer
    @extend %full-canvas
    z-index: 14

.items
  width: 8 * $tile-size
  height: $tile-size
  border: $std-border
  background: #fff

.col-rgt
  display: flex
  flex-direction: column
  justify-content: space-between
  height: 100%
  background: rgba(50, 90, 240, 0.2)

.enemies-remaining
  height: $tile-size
  border: $std-border
  background: #fff

.enemy-stats
  width: $side-col
  height: 160px
  border: $std-border
  background: #fff

.activity-log
  width: $side-col
  height: 288px
  border: $std-border
  background: #fff

.enemy-stats
  width: $side-col
  height: 160px
  border: $std-border
  background: #fff

.tips
  width: $side-col
  height: 2 * $tile-size
  border: $std-border
  background: #fff
